
body {
    background-color: #fbf6e5;
}

/* 置頂導覽列 */
.header {
    background-color: #449440;
    color: white;
}

.header .menu {
    font-size: 1em;
}

.header .menu a {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: white;
}

/* 水果超好ㄘ */
.navigation .logo {
    height: 50px;
    margin-bottom: 7px;
}

.navigation .logo-text {
    font-size: 2.5em;
}

@media screen and (max-width: 1200px) {
    .navigation .logo-text {
        font-size: 2em;
    }
}

@media screen and (max-width: 992px) {
    .navigation .logo-text {
        display: none;
    }
}


/* 搜尋框按鈕 */
.navigation button {
    background-color: #b8fcbe;
    color: rgb(66, 40, 17);
}

.navigation button:hover {
    background-color: rgb(255, 189, 89);
    color: rgb(66, 40, 17);
}

/* 購物車 */
.navigation .icon {
    margin-top: 5px;
    width: 70px;
    height: 40px;
    font-size: 2em;
}

/* 左分類表 #大小分類 */
.main .category {
    background-color: var(--grey01);
    border-radius: 15px;
    text-align: center;
}

.main .category ul {
    width: -webkit-fit-content;
    margin: auto;
    padding: 15px;
    font-size: 1.5em;
}

/* 大分類 */
.main .category ul strong {
    color: var(--green05);
}

.main .category ul li {
    list-style-type: none;
}

/* 小分類 */
.main .category ul li a {
    text-decoration: none;
    color: #2b9934;
    font-size: 20px;
}

.main .category ul li a:hover {
    color: #ffa537;
}

/* 右上 #篩選/綜合排行/最新 */
.main .sort {
    background-color: var(--grey01);
    padding: 15px;
    border-radius: 10px;
}

.main .sort .sorttext {
    color: #ffffff;
    background-color: #449440;

    border-radius: 5px;
    padding: 5px 10px;
}

.main .sort .sorttext:hover {
    color: #123456;
    background-color: #b8fcbe;
}



/* 商品排列區 result-items */
.main .showgoodsitem{
    text-align: center;
}

.main .itemsbox {
    background-color: var(--grey01);
    border-radius: 10px;
}

.main .itemsbox:hover {
    background-color: #f5d6d6;
}

/* 商品圖片限制 */
.main .itemsbox .imgbox {
    width: 100%;
    height: 200px;
}

/* 商品圖片等比例縮放 */
.main .itemsbox  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 商品文字 */
.main .itemsbox span {
    font-size: 1.2em;
    padding: 15px;
    color:#123456;
}

/* 頁尾 */
.footer {
    background-color: #ccc;
    text-align: center;
    font-size: 2em;
}