body {
    background-color: #22222222;
}

/* 置頂導覽列 */
.header {
    background-color: #3a6254;
    color: white;
    position: fixed;
    width: 100%;
    height: 3.5em;
    z-index: 999;
}

/* 聖誕樹LOGO */
.navigation .logo {
    height: 50px;
    margin-bottom: 7px;
}

/* 左上導覽 */
.navigation .laftNav ul {
    list-style-type: none;
}

.navigation .laftNav ul li {
    display: inline-block;
}

.navigation .laftNav ul li a {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: white;
}

/* 右上導覽 */
.navigation .rightNav ul {
    list-style-type: none;
}

.navigation .rightNav ul li {
    display: inline-block;
}

.navigation .rightNav ul li a {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: white;
}

/* RWD選單 */
.navaside {
    position: fixed;
    margin-top: -3px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url("/img/nav-w.png");
    background-size: cover;
    display: block;
}


/* 內容物 左邊列排 */
.main .aside {
    position: fixed;
    background-color: #61926d;
    float: left;
    margin-top: 3em;
    width: 15em;
    height: 100%;
}

.main .aside ul li {
    list-style-type: none;
    margin-top: 5px;
    margin: 10px;
}

.main .aside ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 1.5em;
}

.main .aside ul li a:hover {
    color: #ffd16e;
}

/* 內容物 右邊內容 */
.main .article {
    padding-top: 3.5em;
    color: #000000;
    display: block;
}

/* 右面新增大框放裏東西 */
.main .article .ownerbox {
    background-color: #ffffff;
    color: #403426;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

/* 商品圖片等比例縮放 */
.main .article .ownerbox .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 商品敘述框框 */
.main .article .goods_textarea {
    border-radius: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    padding: 15px;

}

@media screen and (max-width:768px) {

    /* 紅色區 */
    .header {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 隱藏logo圖 */
    .navigation .logo {
        display: none;
    }

    .navigation {
        text-align: center;
    }

    .navigation ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* 左邊列 */
    .aside {
        display: none;
    }

    /* 表格RWD */
    .table-rwd thead {
        display: none;
    }

    .table-rwd tbody tr {
        display: block;
        border: 2px solid #ced4da;
        margin: 10px;
        overflow: hidden;
    }

    .table-rwd tbody tr td {
        display: block;
        float: left;
    }

    .table-rwd tbody tr td::before {
        content: attr(data-th)"：";
        color: #1b2d47;
        font-size: 1.2em;
        font-weight: bold;
    }

    /* 商品圖片橫向排列  poup = 上傳、修改頁面 */
    .main .article .poup .ownerbox .imgrow {
        display: flex;
        flex-wrap: wrap;
    }

    /* 商品圖片限制  poup = 上傳、修改頁面 */
    .main .article .poup .ownerbox .imgbox {
        width: 70px;
        border: 1px solid #ced4da;
        background-color: #fff;
        margin: 0px 10px 10px 0px;
        border-radius: 10px;
    }

}

@media screen and (min-width:768px) {
    .article {
        margin-left: 15em;
    }

    table tbody tr {
        line-height: 80px;
    }
    
    /* 商品圖片橫向排列  poup = 上傳、修改頁面 */
    .main .article .poup .ownerbox .imgrow {
        display: flex;
        flex-wrap: wrap;
    }

    /* 商品圖片限制  poup = 上傳、修改頁面 */
    .main .article .poup .ownerbox .imgbox {
        width: 80px;
        height: 80px;
        border: 1px solid #ced4da;
        background-color: #fff;
        margin: 0px 10px 10px 0px;
        border-radius: 10px;
    }

    /* 商品圖片限制  管理商品 表格圖片限制 */
    .main .article .ownerbox .imgbox {
        width: 80px;
        height: 80px;
        border: 1px solid #ced4da;
        background-color: #fff;
        margin: 0px 10px 10px 0px;
        border-radius: 10px;
    }

    /* 價錢＆數量 的 寬度 */
    .main .article .goodsPNW {
        width: 150px;
    }

}